.analysis-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
  }
  
  .analysis-dashboard canvas {
    max-width: 300px; /* Limit the chart's width */
    max-height: 300px; /* Limit the chart's height */
    width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    /* border:1px solid black; */
  }
  