/* Main layout */
.wa-chat-page {
  display: flex;
  height: calc(100vh - 70px);
  background: #f0f2f5;
}

/* Sidebar */
.wa-chat-sidebar {
  width: 28%;
  background: #fff;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  margin-left: 16%;
  margin-top: 4%;
  height: 90vh;
}

.wa-chat-title {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  background: #ededed;
}

/* User list item */
.wa-chat-user-item {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.wa-chat-user-item:hover {
  background: #f5f5f5;
   border: 1px solid #f5f5f5;
  border-radius: 15px;
}

.wa-chat-active {
  background: #ecf1f1 !important;
  border: 1px solid #e8f3f4;
  border-radius: 15px;   
}

/* Avatar */
.wa-chat-user-avatar {
  width: 40px;
  height: 40px;
  background: #51bdc9;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
}

/* Right window */
.wa-chat-window {
  width: 72%;
  display: flex;
  flex-direction: column;
  margin-top: 5.5%;
  height: 90vh;
  background: #ecf1f1;
  
}

.wa-chat-window-empty {
  width: 72%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #777;
   margin-top: 4%;
   height: 90vh;
}

.wa-chat-header {
  padding: 15px;
  background: #ededed;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

/* Messages */
.wa-chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background: #efeae2;
}

.wa-chat-message {
  max-width: 60%;
  padding: 10px 14px;
  border-radius: 8px;
  margin-bottom: 12px;
  font-size: 14px;
}

.sent {
  background: #d9fdd3;
  align-self: flex-end;
}

.received {
  background: #fff;
  align-self: flex-start;
}

/* Input box */
.wa-chat-input-box {
  display: flex;
  padding: 12px;
  background: #f0f0f0;
  border-top: 1px solid #ccc;
}

.wa-chat-input-box input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.wa-chat-input-box button {
  margin-left: 10px;
  padding: 10px 20px;
  background: #51bdc9;
  border: none;
  color: white;
  border-radius: 35px;
  cursor: pointer;
}
.wa-chat-search {
  width: 90%;
  margin: 10px auto;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
}
.delete-btn {
  margin-left: 95%;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #d00;
  font-size: 15px;
}
.delete-btn:hover {
  color: rgb(113, 6, 6);
}
.wa-chat-search {
  width: 90%;
  margin: 10px auto;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
}