.LoginHeader {
    display: flex;
    align-items: center; /* Vertically centers items */
    justify-content: space-between; /* Space out the logout button */
    position: relative; /* Needed for centering the heading */
    height: 40px; /* Set header height */
    padding: 0 20px;
    background-color: #22b1bb;
    color:black;
    /*box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2); Optional shadow for style*/
    /* box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);  */
   
  }
  
  .Lheader-title {
    flex: 1; /* Push logout button to the right */
    text-align: center; /* Center the heading text */
    margin: 0;
    font-weight:500 ;
  }
  