/* Set background color for the entire form container */
.AgreementForm_Container{
  margin-left:16%;
  position: fixed;
  margin-top:67px;
  width: 84%;
}
.AgreementForm_Container h2{
  text-align: center;
  color: #333;
  margin-bottom: 10px;
  font-size: 20px;
  margin-top: 0;
  margin-left:0;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);/* Shadow for depth */
  border-bottom: 2px solid #22b1bb;
  text-align: center;
  /* width: 1970px; */
}
.form-container {
    background-color: #f7f7f7;  /* Light blue background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:900px;
  }
  .form-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    padding-top: 5px;
  }
  /* Set background color for form inputs */
  .form-control {
    background-color: #ffffff;  /* White background for inputs */
  }
  
  /* Add a subtle color to the submit button */
  .btn-primary {
    color:#f7f7f7;
    background-color:#22b1bb;  /* Blue background */
    border-color: #22b1bb;
  }
  
  .btn-primary:hover {
    background-color: #1c949c;  /* Darker blue on hover */
    border-color:  #1c949c;
  }
  form img {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    transition: transform 0.2s ease; /* Add a slight zoom effect on hover */
  }
  
  form img:hover {
    transform: scale(1.05); /* Slight zoom on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
  }