.filters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  gap: 16px;
  padding: 16px;
  margin-left: 10px;
}

.filters > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Each field spans a column, aligned */
.select,
input[type="text"] {
  padding: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
  background-color: #ccc;
}

.download-btn,
.clear-btn {
  width: 150px;
  height: 37px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.clear-btn {
  background-color: #22b1bb;
  color: white;
}

.clear-btn:hover {
  background-color: #078790;
}

label {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}
