.CompanyFilter{
    display: flex;
    justify-content: flex-start; /* Align items from the left */
    gap: 10px; /* Space between each filter element */
    flex-wrap: wrap; /* Allows the elements to wrap when there's not enough space */
    align-items: center; /* Align items vertically in the center */
    padding: 10px;   
    margin-left: 10px;
  }
  .CompanyFilter select {
    min-width: 150px;
    width: auto;
    max-width: 300px;
  }
  .CompanyFilter > div {
    display: flex;
    align-items: center; /* Align label and select input in the center vertically */
    gap: 15px; /* Space between label and select */
  }
  
  
  .cselect {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px; /* Width for select fields */
    background-color: #ccc;
  }
  
  input[type="text"] {
    width: 100px; /* Set the width for the search input field */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    font-weight: 600;
  }
  
  .cclear-btn {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #22b1bb; /* Red background color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* Space between the button and other elements */
    transition: background-color 0.3s ease;
  }
  
  .cclear-btn:hover {
    background-color: #078790; /* Darker red on hover */
  }
  